<?xml version='1.0' encoding='UTF-8'?>

<cruisecontrol xmlns:cb="urn:ccnet.config.builder">

	<queue name="Q1" duplicates="UseFirst"/>


	<cb:scope projectProfile="DAILY">

		<cb:scope queueName="$(projectProfile)Queue" queuePrio="0">
			<cb:include href="Projects\ccnet.config.firstproject" />
		</cb:scope>

		<cb:scope queueName="$(projectProfile)Queue" queuePrio="0">
			<cb:include href="Projects\ccnet.config.contoso" />
		</cb:scope>

		<cb:scope queueName="$(projectProfile)Queue" queuePrio="0">
			<cb:include href="Projects\ccnet.config.cibook.framework" />
		</cb:scope>

	</cb:scope>


	<cb:scope projectProfile="NIGHTLY" pauseStart="06:00" pauseEnd="12:00">

		<cb:scope queueName="$(projectProfile)Queue" queuePrio="0">
			<cb:include href="Projects\ccnet.config.contoso" />
		</cb:scope>

		<cb:scope queueName="$(projectProfile)Queue" queuePrio="0">
			<cb:include href="Projects\ccnet.config.cibook.framework" />
		</cb:scope>

	</cb:scope>

</cruisecontrol>
